# Data Science Tools and Ecosystem

## Author
Yudel Zuniga

In this notebook, Data Sience Tools and Ecosystem summarized

**Objectives:**

Some of the popular languages that Data Scientist use are:

 1.  Python
 2.  R
 3.  SQL
 4.  Java
 5.  Scala
 6.  C++

Some of the commonly used libraries used by Data Scientist include:

* Python Libraries
* Numpy Libraries
* MatPlotlib Libraries
* Spark library

 | Data Science Tools  |
| ------ | 
| Jupyter |
| Apache  | 
| RStudio  |
| Anaconda |

### Below are a few examples of evaluating arithmetic expression in Python

In [1]:
('This is a simple arithmetic expression to multiply then add integers')

This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

In [8]:
('This will convert 200 minutes to hours by diving by 60')

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60